<?xml version='1.0' encoding='utf-8'?>
<robot name="gello_xarm7_UNVERIFIED_DRAFT">
  <!--UNVERIFIED geometry draft. Continuous joints are for visualization only; no measured motion ranges, encoder zero or dynamics.-->
  <link name="base_link">
    <visual>
      <origin xyz="0.07 0 0" rpy="1.57079632679 -0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/base.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 0.0295" rpy="0 -0 1.57079632679" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_body.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="base_link_XL330_body_material">
        <color rgba="0.22 0.24 0.28 1" />
      </material>
    </visual>
  </link>
  <link name="link1">
    <visual>
      <origin xyz="0 0.006 -0.0025" rpy="0 -0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L1.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 -0.0065" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_horn.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link1_XL330_horn_material">
        <color rgba="0.55 0.57 0.60 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 0.0303 0.0385" rpy="-1.57079632679 -0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_body.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link1_XL330_body_material">
        <color rgba="0.22 0.24 0.28 1" />
      </material>
    </visual>
  </link>
  <link name="link2">
    <visual>
      <origin xyz="0 -0.089 -0.0265" rpy="1.57079632679 -0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L2.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 -0.0065" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_horn.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link2_XL330_horn_material">
        <color rgba="0.55 0.57 0.60 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 -0.0988 -0.0165" rpy="-1.57079632679 -0 3.14159265359" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_body.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link2_XL330_body_material">
        <color rgba="0.22 0.24 0.28 1" />
      </material>
    </visual>
  </link>
  <link name="link3">
    <visual>
      <origin xyz="0 0 -0.0025" rpy="0 -0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L3.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 -0.0065" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_horn.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link3_XL330_horn_material">
        <color rgba="0.55 0.57 0.60 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.0379 0.0114235825551 0.0285396276014" rpy="-1.57079632679 -0.497419101264 -1.57079632679" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_body.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link3_XL330_body_material">
        <color rgba="0.22 0.24 0.28 1" />
      </material>
    </visual>
  </link>
  <link name="link4">
    <visual>
      <origin xyz="0 0.01 0.0125" rpy="-3.14159265359 -1.57079632679 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L4.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 -0.0065" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_horn.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link4_XL330_horn_material">
        <color rgba="0.55 0.57 0.60 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.0456164592136 -0.0699043303501 -0.036" rpy="0.820305215266 -1.57079632679 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_body.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link4_XL330_body_material">
        <color rgba="0.22 0.24 0.28 1" />
      </material>
    </visual>
  </link>
  <link name="link5">
    <visual>
      <origin xyz="-0.001 0 0.08375" rpy="-1.57079632679 -0 -0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L5.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 -0.0065" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_horn.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link5_XL330_horn_material">
        <color rgba="0.55 0.57 0.60 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.0008 0 0.08375" rpy="1.57079632679 -0 -1.57079632679" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_body.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link5_XL330_body_material">
        <color rgba="0.22 0.24 0.28 1" />
      </material>
    </visual>
  </link>
  <link name="link6">
    <visual>
      <origin xyz="0.015 0.015 -0.0025" rpy="-3.14159265359 -1.57079632679 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L6.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 -0.0065" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_horn.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link6_XL330_horn_material">
        <color rgba="0.55 0.57 0.60 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.02332438 0.0508 0" rpy="-1.57079632679 1.57079632679 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_body.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link6_XL330_body_material">
        <color rgba="0.22 0.24 0.28 1" />
      </material>
    </visual>
  </link>
  <link name="link7">
    <visual>
      <origin xyz="0 0.0142307343963 0.0217163343711" rpy="1.57079632679 -0.0523598969078 1.57079632679" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/gripper/handle.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 -0.0065" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/motors/XL330_horn.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="link7_XL330_horn_material">
        <color rgba="0.55 0.57 0.60 1" />
      </material>
    </visual>
  </link>
  <joint name="joint1" type="continuous">
    <parent link="base_link" />
    <child link="link1" />
    <origin xyz="0 0 0.036" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="joint2" type="continuous">
    <parent link="link1" />
    <child link="link2" />
    <origin xyz="0 0.0368 0.0385" rpy="-1.57079632679 -0 0" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="joint3" type="continuous">
    <parent link="link2" />
    <child link="link3" />
    <origin xyz="0 -0.1053 -0.0165" rpy="1.57079632679 1.57079632679 0" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="joint4" type="continuous">
    <parent link="link3" />
    <child link="link4" />
    <origin xyz="0.0444 0.0114235825551 0.0285396276014" rpy="1.57079632679 -0.750491313912 1.57079632679" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="joint5" type="continuous">
    <parent link="link4" />
    <child link="link5" />
    <origin xyz="-0.0500494463348 -0.07465813148 -0.036" rpy="0.820305215266 -1.57079632679 0" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="joint6" type="continuous">
    <parent link="link5" />
    <child link="link6" />
    <origin xyz="-0.0073 0 0.08375" rpy="1.57079632679 1.22464679915e-16 -1.57079632679" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="joint7" type="continuous">
    <parent link="link6" />
    <child link="link7" />
    <origin xyz="0.02332438 0.0573 0" rpy="-1.57079632679 1.57079632679 0" />
    <axis xyz="0 0 1" />
  </joint>
</robot>