<?xml version='1.0' encoding='utf-8'?>
<robot name="gello_xarm7_UNASSEMBLED_PREVIEW">
  <!--STL inventory only. Scale 0.001 is an unconfirmed mm assumption. Transforms are display placements, NOT assembled geometry. No inertias.-->
  <link name="preview_world" />
  <link name="preview_L1">
    <visual>
      <origin xyz="-0 -0.013900000602 -0.035000000149" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L1.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_L1" type="fixed">
    <parent link="preview_world" />
    <child link="preview_L1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="preview_L2">
    <visual>
      <origin xyz="-0 -0.019750000909 0.0500000007451" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L2.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_L2" type="fixed">
    <parent link="preview_world" />
    <child link="preview_L2" />
    <origin xyz="0.25 0 0" rpy="0 0 0" />
  </joint>
  <link name="preview_L3">
    <visual>
      <origin xyz="-0.00419999985024 -0.0102018034086 -0.0313117392361" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L3.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_L3" type="fixed">
    <parent link="preview_world" />
    <child link="preview_L3" />
    <origin xyz="0.5 0 0" rpy="0 0 0" />
  </joint>
  <link name="preview_L4">
    <visual>
      <origin xyz="0.0337500013411 -0.0232782419771 0.012732825242" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L4.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_L4" type="fixed">
    <parent link="preview_world" />
    <child link="preview_L4" />
    <origin xyz="0 0.18 0" rpy="0 0 0" />
  </joint>
  <link name="preview_L5">
    <visual>
      <origin xyz="-0.00650000013411 -0.0363750010729 -0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L5.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_L5" type="fixed">
    <parent link="preview_world" />
    <child link="preview_L5" />
    <origin xyz="0.25 0.18 0" rpy="0 0 0" />
  </joint>
  <link name="preview_L6">
    <visual>
      <origin xyz="-0.00250000017695 -0.00534999975935 -0.00416219141334" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/L6.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_L6" type="fixed">
    <parent link="preview_world" />
    <child link="preview_L6" />
    <origin xyz="0.5 0.18 0" rpy="0 0 0" />
  </joint>
  <link name="preview_base">
    <visual>
      <origin xyz="-0 -0.0050000003539 -0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/xarm7/base.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_base" type="fixed">
    <parent link="preview_world" />
    <child link="preview_base" />
    <origin xyz="0 0.36 0" rpy="0 0 0" />
  </joint>
  <link name="preview_handle">
    <visual>
      <origin xyz="0.027933999896 -0.0150632560253 -0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/gripper/handle.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_handle" type="fixed">
    <parent link="preview_world" />
    <child link="preview_handle" />
    <origin xyz="0.25 0.36 0" rpy="0 0 0" />
  </joint>
  <link name="preview_trigger">
    <visual>
      <origin xyz="-0.00385844102129 -0.00450000027195 -0.0195369459689" rpy="0 0 0" />
      <geometry>
        <mesh filename="file:///home/eid/code/xarm_ws/mesh/gello_mechanical/gripper/trigger.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="preview_plastic">
        <color rgba="0.65 0.75 0.85 1" />
      </material>
    </visual>
  </link>
  <joint name="placement_trigger" type="fixed">
    <parent link="preview_world" />
    <child link="preview_trigger" />
    <origin xyz="0.5 0.36 0" rpy="0 0 0" />
  </joint>
</robot>